<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head" . }}
    {{- partial "head-custom" . -}}
    {{- partialCached "head/js-photos-single.html" . -}}
  </head>
  <body>
    <main class="Figure-variables">
      {{- partial "photos/control-layer" . -}}
      <figure class="Figure">
        <div class="Figure-imageContainer">
          {{- $baseFileName := .File.BaseFileName -}}
          {{- $imageFileNamePattern := print $baseFileName ".{jpg,jpeg,webp,png,tif,tiff}" -}}
          {{- with .CurrentSection.Resources.GetMatch $imageFileNamePattern -}}
            {{- $image := partial "photos/process-photo.html" . -}}
            <img
              id="image"
              class="Figure-img"
              src="{{ $image.RelPermalink }}"
              style="--image-width:{{ $image.Width }};--image-height:{{ $image.Height }};"
              {{- with .Params.alt -}}{{ printf " alt=%s" . | htmlEscape | safeHTMLAttr }}{{- end -}}>
          {{- else -}}
            {{- errorf "Resource not found: %s" $imageFileNamePattern -}}
          {{- end -}}
        </div>
        <div id="captionContainer" class="Figure-captionContainer">
          <div id="captionContent" class="Figure-captionContent">
            <figcaption id="caption" class="Figure-caption">
              <div class="Figure-captionHeader">
                <h1 id="title" class="Figure-title">{{ .Title }}</h1>
                <aside class="Figure-aside">
                  <p id="location" class="Figure-asideInfo u-noMargin">{{- .Params.location -}}</p>
                  {{- $dateHuman := .Date | time.Format "2006" }}
                  <time id="date" class="Figure-asideInfo" datetime="{{ $dateHuman }}">{{ $dateHuman }}</time>
                  <p id="medium" class="Figure-asideInfo u-noMargin">{{ .Params.medium }}</p>
                </aside>
              </div>
              {{- .Content -}}
            </figcaption>
            {{- $moreIcon := resources.Get "svg/CaretDown.svg" }}
            <button id="toggleCaption" type="button" class="Figure-captionToggle">{{ $moreIcon.Content | safeHTML }}</button>
          </div>
        </div>
      </figure>
    </main>
  </body>
</html>
