<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head" . }}
    {{- partial "head-custom" . -}}
    {{- partialCached "head/js-photos-single.html" . -}}
  </head>
  <body>
    <main class="Figure-variables">
      {{- partial "photos/control-layer" . -}}
      <figure class="Figure">
        <div class="Figure-imageContainer">
          {{- $watermark := resources.Get .Site.Params.watermark -}}
          {{- $baseFileName := .File.BaseFileName -}}
          {{- $imageFileNamePattern := print $baseFileName ".{jpg,jpeg,webp,png,tif,tiff}" -}}
          {{- with .CurrentSection.Resources.GetMatch $imageFileNamePattern -}}
            {{- $aspectRatio := div (float .Width) .Height -}}
            {{- $resizedWidth := 0 -}}
            {{- $resizedHeight := 0 -}}
            {{- if ge $aspectRatio (div 3840.0 2160) -}}
              {{- $resizedWidth = math.Min 3840 .Width -}}
              {{- $resizedHeight = math.Round (div $resizedWidth $aspectRatio) -}}
            {{- else -}}
              {{- $resizedHeight = math.Min 2160 .Height -}}
              {{- $resizedWidth = math.Round (mul $resizedHeight $aspectRatio) }}
            {{- end -}}

            {{- $filters := "" -}}
            {{- with $watermark -}}
              {{- $filters = slice (images.Process "fit 3840x2160 q100") (images.Overlay . (sub $resizedWidth .Width 32) (sub $resizedHeight .Height 32)) (images.Process "q60 jpg") -}}
            {{- else -}}
              {{- $filters = slice (images.Process "fit 3840x2160 q60 jpg") -}}
            {{- end -}}

            {{- $image := images.Filter $filters . -}}
            <img
              class="Figure-img"
              src="{{ $image.RelPermalink }}"
              style="--image-width:{{ $image.Width }};--image-height:{{ $image.Height }};"
              {{- with .Params.alt -}}{{ printf " alt=%s" . | htmlEscape | safeHTMLAttr }}{{- end -}}>
          {{- else -}}
            {{- errorf "Resource not found: %s" $imageFileNamePattern -}}
          {{- end -}}
        </div>
        <div id="captionContainer" class="Figure-captionContainer">
          <div id="captionContent" class="Figure-captionContent">
            <figcaption class="Figure-caption">
              <div class="Figure-captionHeader">
                <h1 class="u-noMargin u-matchLineHeight">{{ .Title }}</h1>
                <aside class="Figure-aside">
                  <p class="Figure-asideInfo u-noMargin">{{- .Params.location -}}</p>
                  {{- $dateHuman := .Date | time.Format "2006" }}
                  <time class="Figure-asideInfo" datetime="{{ $dateHuman }}">{{ $dateHuman }}</time>
                  <p class="Figure-asideInfo u-noMargin">{{ .Params.medium }}</p>
                </aside>
              </div>
              {{- .Content -}}
            </figcaption>
            {{- $moreIcon := resources.Get "svg/CaretDown.svg" }}
            <button id="toggleCaption" type="button" class="Figure-captionToggle">{{ $moreIcon.Content | safeHTML }}</button>
          </div>
        </div>
      </figure>
    </main>
  </body>
</html>
