{{- $menu := .menu -}}
{{- $arrowIcon := resources.Get "svg/ArrowBendDownRight.svg" -}}

{{- with .context -}}
  {{- range .Ancestors.Reverse }}
    {{- if not .IsHome -}}
      <li class="Header-crumbsitem u-alignRowCenter {{- if $menu }} is-menu{{- end -}}">
        {{ if $menu -}}
          {{- $arrowIcon.Content | safeHTML -}}
        {{- end -}}
        <a class="Header-crumbstext Header-crumbslink" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end -}}
  {{- end -}}
  {{- if not .IsHome -}}
      <li class="Header-crumbsitem u-alignRowCenter {{- if $menu }} is-menu{{- end -}}">
        {{ if $menu -}}
          {{- $arrowIcon.Content | safeHTML -}}
        {{- end -}}
        <p class="Header-crumbstext">
          {{ .Title }}
        </p>
      </li>
  {{ end -}}
{{- end -}}
