<div class="Figure-controlLayer">
  {{- $closeIcon := resources.Get "svg/X.svg" -}}
  {{- $previousIcon := resources.Get "svg/CaretLeft.svg" -}}
  {{- $nextIcon := resources.Get "svg/CaretRight.svg" -}}

  {{- $photoStream := partial "list/photostream" . -}}
  {{- $photoStreamNext := "" -}}
  {{- $photoStreamPrev := "" -}}
  {{- with $photoStream.Next . -}}
    {{- $photoStreamPrev = printf "%s?source=photostream" .RelPermalink -}}
  {{- end -}}
  {{- with $photoStream.Prev . -}}
    {{- $photoStreamNext = printf "%s?source=photostream" .RelPermalink -}}
  {{- end -}}

  {{- $pages := partial "list/gallery-pages" .Parent -}}
  {{- $pagesNext := "" -}}
  {{- $pagesPrev := "" -}}
  {{- with $pages.Next . -}}
    {{- $pagesPrev = .RelPermalink -}}
  {{- end -}}
  {{- with $pages.Prev . -}}
    {{- $pagesNext = .RelPermalink -}}
  {{- end -}}

  {{- $prevClass := partial "conditional-class" (dict "condition" (not $pagesPrev) "class" "is-disabled") -}}
  {{- $nextClass := partial "conditional-class" (dict "condition" (not $pagesNext) "class" "is-disabled") -}}

  <a class="Figure-control Figure-close" id="close" href="{{ .Parent.RelPermalink }}" data-photo-stream-href="/">{{- $closeIcon.Content | safeHTML -}}</a>
  <a class="Figure-control Figure-previous {{ $prevClass }}" id="previous" href="{{ $pagesPrev }}" data-photo-stream-href="{{ $photoStreamPrev }}">{{- $previousIcon.Content | safeHTML -}}</a>
  <a class="Figure-control Figure-next {{ $nextClass }}" id="next" href="{{ $pagesNext }}" data-photo-stream-href="{{ $photoStreamNext }}">{{- $nextIcon.Content | safeHTML -}}</a>
</div>