@use "_variables" as *;

* {
  box-sizing: border-box;
  scrollbar-color: var(--color-bg-scrollbar-thumb) var(--color-bg-scrollbar);
  scrollbar-width: thin;
}

html {
  height: 100%;
  font-family: "Gothic A1", sans-serif;
  font-size: var(--size-body);
  font-weight: var(--weight-normal);
  line-height: 1.4;
}

body {
  min-height: 100%;
  background: var(--color-bg);
  color: var(--color-text);
}

body::backdrop {
  background: var(--color-bg);
}

p {
  margin-block: 0.5em;
}

a {
  color: var(--color-text-link);
}

span {
  font: inherit;
}

code {
  font-family: Inconsolata, monospace;
}

p code {
  color: var(--color-text-code);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: var(--weight-medium);
  letter-spacing: 0.02em;
}

h1 {
  margin: 1rem 0;
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

h5 {
  font-size: var(--size-h5);
}

h6 {
  font-size: var(--size-h6);
}

ul,
ol {
  padding-inline-start: 2em;
}

table {
  display: block;
  border-collapse: collapse;
  margin-block: 0.5em;
  overflow-x: auto;
}

th {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-border-table);
  font-weight: var(--weight-medium);
  text-align: left;
}

td {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-border-table);
}

hr {
  width: 100%;
  border-color: var(--color-border);
}

blockquote {
  padding: 0.25em 1em;
  border-radius: 4px;
  border-left: 4px solid var(--color-border);
  background-color: var(--color-bg-card-dim);
  color: var(--color-text-secondary);
  margin-block: 0.5em;
  margin-inline: 1em;
}
