/** @define Post */
@use "_variables" as *;

.Post-headingContainer {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  gap: var(--spacing-xxs);
}

.Post-subtitle {
  color: var(--color-text-secondary);
  font-weight: var(--weight-medium);
}

.Post-imgContentContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2em;
  margin-block: 0.5em;

  @media (max-width: $layout-breakpoint-s) {
    flex-direction: column;
    align-items: center;

    /* Emulate columnar image and paragraph block spacing */
    gap: 1em;
    margin-block: 1em 0.5em;
  }
}

.Post-imgContentContainer.is-reverse {
  flex-direction: row-reverse;

  @media (max-width: $layout-breakpoint-s) {
    flex-direction: column;
  }
}

.Post-imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1em;
  margin-inline: 5%;
}

.Post-imgAdjacentContent {
  display: flex;
  flex-direction: column;
}

.Post-imgAdjacentContent > :first-child {
  margin-block-start: 0;
}

.Post-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 5%;

  @media (max-width: $layout-breakpoint-m) {
    margin-inline: 0;
  }
}

.Post-figure.is-inContentContainer {
  flex: 0 0 40%;
}

.Post-imgContentContainer > .Post-figure {
  margin: 0;
}

.Post-img {
  --Post-img-max-height: Min(960px, 75svh);

  width: 100%;
  max-width: Min(
    calc(var(--Post-img-max-height) * var(--image-width, 1) / var(--image-height, 1)),
    var(--Post-img-max-width)
  );
  height: auto;
  max-height: var(--Post-img-max-height);
  aspect-ratio: var(--image-width) / var(--image-height);
  object-fit: contain;
}

.Post-img.is-inContentContainer {
  width: 40%;

  @media (max-width: $layout-breakpoint-s) {
    width: 80%;
  }
}

.Post-imgCaption {
  color: var(--color-text-secondary);
  font-size: var(--size-body-small);
  margin-block-start: 0.5em;
}
