/** @define Taxonomy */

.Taxonomy-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.Taxonomy {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-m);
  background: var(--color-bg-card);
  color: var(--color-text);
  gap: var(--spacing-xxs);
  text-decoration: none;
}

.Taxonomy-subtitle {
  color: var(--color-text-secondary);
  font-weight: 500;
}
