/** @define utilities; */

.u-noMargin {
  margin: 0;
}

.u-noBullets {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.u-alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-alignRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.u-textContentWidth {
  max-width: var(--max-width-text-content);
}

.u-responsiveHPadding {
  padding-right: var(--responsive-padding-horizontal);
  padding-left: var(--responsive-padding-horizontal);
}

.u-paddingBottom {
  padding-bottom: 1rem;
}
