/* Breakpoints
   These have to be SCSS variables since var() will not work with media queries */
$layout-breakpoint-xs: 480px;
$layout-breakpoint-s: 600px;
$layout-breakpoint-m: 800px;
$layout-breakpoint-l: 1200px;

:root {
  /* Colors */
  --color-text: rgb(28 28 28);
  --color-text-secondary: rgb(28 28 28 / 0.8);
  --color-text-link: rgb(14 83 99);
  --color-text-code: rgb(111 59 0);
  --color-text-on-dark: rgb(246 246 243);
  --color-bg: rgb(246 246 246);
  --color-bg-transparent: rgb(246 246 246 / 0.75);
  --color-bg-transparent-dark: rgb(28 28 28 / 0.75);
  --color-bg-card: rgb(255 255 255);
  --color-bg-scrollbar: rgb(255 255 255);
  --color-bg-scrollbar-thumb: rgb(28 28 28 / 0.25);
  --color-border: rgb(28 28 28 / 0.2);
  --color-border-table: rgb(28 28 28 / 0.1);
  --color-logo: rgb(28 28 28);
  --color-icon: rgb(28 28 28 / 0.4);
  --color-icon-hover: rgb(28 28 28 / 0.75);
  --color-icon-drop-shadow: rgb(255 255 255 / 0.5);

  @media (prefers-color-scheme: dark) {
    --color-text: rgb(246 246 243);
    --color-text-secondary: rgb(246 246 243 / 0.8);
    --color-text-link: rgb(135 225 250);
    --color-text-code: rgb(255 196 149);
    --color-bg: rgb(28 28 28);
    --color-bg-transparent: rgb(28 28 28 / 0.75);
    --color-bg-card: rgb(36 36 36);
    --color-bg-scrollbar: rgb(36 36 36);
    --color-bg-scrollbar-thumb: rgb(246 246 246 / 0.25);
    --color-border: rgb(246 246 243 / 0.2);
    --color-border-table: rgb(246 246 243 / 0.1);
    --color-logo: rgb(255 255 255);
    --color-icon: rgb(255 255 255 / 0.4);
    --color-icon-hover: rgb(255 255 255 / 0.75);
    --color-icon-drop-shadow: rgb(0 0 0 / 0.5);
  }

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px; // Default padding
  --spacing-xl: 64px;
  --spacing-xxl: 128px;

  /* Sizes */
  --size-h1: 28px;
  --size-h2: 24px;
  --size-h3: 18px;
  --size-h4: 17px;
  --size-h5: 16px;
  --size-h6: 15px;
  --size-body: 17px;
  --size-body-small: 14px;

  @media (max-width: $layout-breakpoint-xs) {
    --size-h1: 24px;
    --size-h2: 20px;
    --size-h3: 18px;
    --size-h4: 17px;
    --size-h5: 16px;
    --size-h6: 15px;
  }

  --responsive-padding-horizontal: Max(Min(calc((100% - 480px) / 5), var(--spacing-l)), var(--spacing-s));
  --responsive-padding-horizontal-zero: Max(Min(calc((100% - 480px) / 5), var(--spacing-l)), 0px);

  /* Width */
  --max-width-content: calc(1200px + var(--spacing-l) * 2);
  --max-width-text-content: calc(960px + var(--spacing-l) * 2);

  /* Timing */
  --timing-s: 0.2s;
}
