<div class="Figure-controlLayer">
  {{- $fullscreenIcon := resources.Get "svg/CornersOut.svg" -}}
  {{- $closeIcon := resources.Get "svg/X.svg" -}}
  {{- $previousIcon := resources.Get "svg/CaretLeft.svg" -}}
  {{- $nextIcon := resources.Get "svg/CaretRight.svg" -}}

  {{- $links := partial "list/photo-links" . -}}

  <button class="Figure-control Figure-fullscreen" id="fullscreen">{{- $fullscreenIcon.Content | safeHTML -}}</button>
  <a class="Figure-control Figure-close" id="close" href="{{ .Parent.RelPermalink }}" data-photo-stream-href="/">{{- $closeIcon.Content | safeHTML -}}</a>
  <a class="Figure-control Figure-previous {{- if not $links.pagesPrev }} is-disabled{{- end -}}" id="previous" href="{{ $links.pagesPrev }}" data-photo-stream-href="{{ $links.photoStreamPrev }}">{{- $previousIcon.Content | safeHTML -}}</a>
  <a class="Figure-control Figure-next {{- if not $links.pagesNext }} is-disabled{{- end -}}" id="next" href="{{ $links.pagesNext }}" data-photo-stream-href="{{ $links.photoStreamNext }}">{{- $nextIcon.Content | safeHTML -}}</a>
</div>