{{- $watermark := resources.Get site.Params.watermark -}}
{{- $aspectRatio := div (float .Width) .Height -}}
{{- $resizedWidth := 0 -}}
{{- $resizedHeight := 0 -}}
{{- if ge $aspectRatio (div 3840.0 2160) -}}
  {{- $resizedWidth = math.Min 3840 .Width -}}
  {{- $resizedHeight = math.Round (div $resizedWidth $aspectRatio) -}}
{{- else -}}
  {{- $resizedHeight = math.Min 2160 .Height -}}
  {{- $resizedWidth = math.Round (mul $resizedHeight $aspectRatio) }}
{{- end -}}

{{- $filters := "" -}}
{{- with $watermark -}}
  {{- $filters = slice (images.Process "fit 3840x2160 q100") (images.Overlay . (sub $resizedWidth .Width 32) (sub $resizedHeight .Height 32)) (images.Process "q60 jpg") -}}
{{- else -}}
  {{- $filters = slice (images.Process "fit 3840x2160 q60 jpg") -}}
{{- end -}}

{{- return images.Filter $filters . -}}